<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENUE SURVIVANT</span>
        <span id="welcomeDescription">Bienvenue dans le nouveau Monde d'Eden qui a une superficie de 47845Km x 252 Km ! Ce monde entouré de glace et de désert, ce monde ayant la forme d'un anneau, ce monde au crépuscule et au levé de soleil éternel. Ce monde où la terre a arrêté de tourner et ce monde où les monstres et les sorciers veulent s'emparer de la plus puissantes source d'énergie mais aussi arme : Le Projet Armageddon. Toutes les semaines, les sorciers organisent dans attaques de grande envergure avec les Monstres. En dehors de ça, vous pouvez vivre simplement comme un citoyen du Nouveau Monde ou alors vivre comme un guerrier de l'armée du Eden New World Army, ou ENWS. Si vous choisissez de protéger les êtres humains, alors vous devrez vous battre contre des monstres. Si vous voulez chercher des bouts de métal à vendre, cherchez en ville ou dans la carrière de Kamen', si vous souhaitez vous occuper des animaux, devenez travailleur dans le seul et dernier Zoo : Quantum Travel Park, Un voyage quantique a travers les âges grâce aux nouveaux systèmes de résurrection via l'ADN de l'animal en question. Ou devenez Soignant dans un centre médical et soignez les guerriers blessés ou les gens malades grâce aux systèmes de soins avancés récupérés dans les débris par Scrap Searchers.</span>
        <br>
        <span id="welcomeDescCTA">Test</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>